{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{%
  set classes = [
    'taxonomy-term',
    'vocabulary-' ~ term.bundle|clean_class,
    'info-item',
    'flex',
    'flex-wrap',
    'h-100',
    'justify-center',
  ]
%}

{% set button_attributes = create_attribute() %}
{% set button_classes = ['button', 'button--cta', 'self-end'] %}
{% set link_url = content.field_taxonomy_link.0['#url']|render %}
{% set link_text = content.field_taxonomy_link.0['#title']|render %}

{{ attach_library('gmk/info-item') }}
<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="top fxb-100">
    <a href="{{ link_url }}">{{ content.field_icon }}</a>
    <h3><a href="{{ link_url }}">{{ name }}</a></h3>
    {{ content.description }}
  </div>

  {% include "@atoms/button/button.twig" with { 
    arrow: true,
    text: link_text,
    button_attributes: button_attributes.setAttribute('href', link_url).addClass(button_classes) } %}
</div>
